<nav>
    <div class="nav-container clearfix">
      <header class="u-pull-left"><h1><a href="{{url_for('hello')}}">Catalog App</a></h1></header>

      {% if g.user %}
         <a class="button u-pull-right" href="{{url_for('auth.logout')}}">Logout</a>
        <a class="button u-pull-right" href="{{url_for('user.profile')}}">View Profile</a>
      {% else %}
        <a class="button u-pull-right" href="{{url_for('auth.login')}}">Login</a>
      {% endif %}
      <a class="button u-pull-right" href="{{url_for('catalog.show_catalog')}}">Browse Catalog</a>

    </div>

</nav>
<section>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
    {% endif %}
  {% endwith %}
</section>