{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="container u-cf">

    <section class="row" id="main-content">
      <div class="four columns">
        <h3>Categories</h3>
        <ul id="categories-list">
          {% for category in categories %}
            <li><a class='no-style-a' href="{{url_for('catalog.show_category', categoryid=category.id)}}">
              {{category.name}} </a></li>
          {% endfor %}
        </ul>
      </div>

      <div class="eight columns">
          <h3> {{category.name}} <em>({{num}} items)</em></h3>
          <ul id="items-list">

            {% if g.user %}
              <a class="button button-primary" href="{{url_for('items.create_item')}}">Add New Item</a>
            {% endif %}

            {% for item in items %}
                <li><a class='no-style-a' href="{{url_for('items.show_item', itemid=item.id)}}">{{item.name}}
                </a></li>
            {% endfor %}

         </ul>
      </div>
    </section>
    </div>


{% endblock %}