{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="container u-cf">

    <section class="row" id="main-content">
      <div class="six columns">


          <form action="{{url_for('items.delete_item', itemid=item.id)}}" method="post">
            {{ form.csrf_token }}
            <p>Are you sure you want to delete this Item? You can't undo this.</p>
            {{ form.submit }}
            <a class="button button-primary" href="{{url_for('items.show_item', itemid=item.id)}}"> Cancel </a>

          </form>

      </div>


    </section>
    </div>

{% endblock %}