{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="container u-cf">

    <section class="row" id="main-content">
      <div class="six columns">
        {% for message in form.name.errors %}
            <div>{{ message }}</div>
        {% endfor %}

         {% for message in form.description.errors %}
             <div>{{ message }}</div>
         {% endfor %}

         {% for message in form.category.errors %}
            <div>{{ message }}</div>
        {% endfor %}

          <form action="{{url_for('items.edit_item', itemid=item.id)}}" method="post">
            {{ form.csrf_token }}
            {{ form.name.label }}
            {{ form.name}}

            {{ form.description.label }}
            {{ form.description }}

            {{ form.category.label }}
            {{ form.category }}

            {{ form.submit }}
            <a class="button button-primary" href="{{url_for('items.show_item', itemid=item.id)}}"> Cancel </a>
          </form>

      </div>


    </section>
    </div>

{% endblock %}