{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="container u-cf">

        <section class="row" id="main-content">
          <div class="twelve columns item">
              <h3>{{item.name}}</h3>
              <p> {{item.description}} </p>

              {% if g.user %}
                <p id="item-mod">


                     {% if item.id in g.userlikes %}
                        <a href="{{url_for('items.unlike_item', itemid=item.id)}}">Unlike</a>
                     {% else %}
                        <a href="{{url_for('items.like_item', itemid=item.id)}}"> Like </a>
                     {% endif %} | ({{num}} likes)

                 {% if g.user.id == item.userid %}
                     | <a href="{{url_for('items.delete_item', itemid=item.id)}}">Delete</a> | <a href="{{url_for('items.edit_item', itemid=item.id)}}">Edit</a>

                 {% endif %}
                </p>
              {% endif %}


          </div>
        </section>
</div>

{% endblock %}